<!DOCTYPE html>
<html>
<head>
    <title>GrassSpot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bulma.css') }}">
</head>
<body>
    <header>
        <!-- Add the header content -->
    </header>
    
    <nav>
        <!-- Add the navigation menu -->
    </nav>
    
    <main>
        <!-- The content of child pages will go here -->
        {% block content %}
        {% endblock %}
    </main>
    
    <footer>
        <!-- Add the footer content -->
    </footer>
</body>
</html>
