<!DOCTYPE html>
<html>
<head>
    <title>GrassSpot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bulma.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>

</head>
<body>
    <header>
        <!-- Add the header content -->
    </header>
    
    <nav>
        <!-- Add the navigation menu -->
        <ul class="navbar-nav ml-auto">
            {% if current_user.is_authenticated %}
                <div>
                    Hallo, {{ current_user.username }}!
                    <form action="{{ url_for('logout') }}" method="post">
                        <button type="submit" class="button is-danger">Logout</button>
                    </form>
                </div>
            {% else %}
                <li class="nav-item">
                    <a href="{{ url_for('login') }}" class="nav-link">Login</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('register') }}" class="nav-link">Register</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a href="/" class="nav-link">Overview</a>
            </li>
        </ul>
        
        
    </nav>
    
    <main>
        <!-- The content of child pages will go here -->
        {% block content %}
        {% endblock %}
    </main>
    
    <footer>
        <!-- Add the footer content -->
    </footer>
</body>
</html>
