<!DOCTYPE html>
<html>
<head>
    <title>GrassSpot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bulma.css') }}">
</head>
<body>
    <header>
        <!-- Add the header content -->
    </header>
    
    <nav>
        <!-- Add the navigation menu -->
        <ul class="navbar-nav ml-auto">
            {% if current_user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/">Overview</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('login') }}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('register') }}">Register</a>
            </li>
            {% endif %}
        </ul>
        
    </nav>
    
    <main>
        <!-- The content of child pages will go here -->
        {% block content %}
        {% endblock %}
    </main>
    
    <footer>
        <!-- Add the footer content -->
    </footer>
</body>
</html>
