{% extends 'base.html' %}

{% block content %}
<h1>Pflegetagebuch für {{ plant.name }}</h1>

    <!-- Anzeige der Pflanzendetails -->
    <div class="plant-details">
        <p><strong>Name:</strong> {{ plant.name }}</p>
        <p><strong>Beschreibung:</strong> {{ plant.description }}</p>
        <p><strong>Bild-URL:</strong> <a href="{{ plant.image_url }}" target="_blank">Bild ansehen</a></p>
        <p><strong>Sonnenlicht:</strong> {{ plant.sunlight }}</p>
        <p><strong>Wasserbedarf:</strong> {{ plant.water_needs }}</p>
        <p><strong>Temperaturbereich:</strong> {{ plant.temperature_range }}</p>
        <p><strong>Status:</strong> {{ plant.status }}</p>
    </div>

    <!-- Button für das Erstellen eines Eintrags -->
    <button class="button is-primary" id="addEntryButton">Add Entry</button>

    <!-- Container für dynamisch hinzugefügte Bilder -->
    <div id="existingImages" class="existing-images"></div>

    <!-- Modal -->
    <div class="modal" id="addEntryModal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Add Entry</p>
                <button class="delete" aria-label="close" id="closeModal"></button>
            </header>
            <section class="modal-card-body">
                <!-- Formular zum Erstellen eines Eintrags -->
                <form id="entryForm" method="POST" action="{{ url_for('add_entry', plant_id=plant_id) }}" enctype="multipart/form-data">
                    <div class="field">
                        <label class="label">Date</label>
                        <div class="control">
                            <input class="input" type="date" id="entry_date" name="entry_date" required>
                        </div>
                    </div>
                    
                    <div class="field">
                        <label class="label">Notes</label>
                        <div class="control">
                            <textarea class="textarea" id="notes" name="notes" placeholder="Enter notes" required></textarea>
                        </div>
                    </div>
                    
                    <div class="field">
                        <label class="label">Image Upload</label>
                        <div class="control">
                            <input class="input" type="file" id="image" name="image" accept="image/*" multiple>
                        </div>
                    </div>
                    
                    <div class="field">
                        <label class="label">Existing Images</label>
                        <div class="control" id="existingImagesContainer"></div>
                    </div>
                </form>
            </section>
            
            <footer class="modal-card-foot">
                <button class="button is-primary" id="submitEntry">Submit</button>
                <button class="button" id="cancelEntry">Cancel</button>
            </footer>
        </div>
    </div>

    <!-- Tabelle für Pflegetagebuch-Einträge -->
    <table class="table is-fullwidth is-striped">
        <thead>
            <tr>
                <th>Datum</th>
                <th>Notizen</th>
                <th>Bilder</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for entry in care_journal_entries %}
            <tr>
                <td>{{ entry.entry_date.strftime('%Y-%m-%d') }}</td>
                <td>{{ entry.notes }}</td>
                <td>
                    {% if entry.images %}
                        <img src="{{ url_for('static', filename=entry.images[0]) }}" alt="Plant Image" style="width: 100px; height: auto;">
                    {% else %}
                        No Image
                    {% endif %}
                </td>
                <td>
                    <button class="button is-warning update-button" data-id="{{ entry._id }}"><i class="fas fa-edit"></i></button>
                    <button class="button is-danger deactivate-button" data-id="{{ entry._id }}"><i class="fas fa-times"></i></button>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="4">Keine Einträge gefunden.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Modal Interaktion
            document.getElementById('addEntryButton').addEventListener('click', function() {
                document.getElementById('addEntryModal').classList.add('is-active');
            });
            
            document.getElementById('closeModal').addEventListener('click', function() {
                document.getElementById('addEntryModal').classList.remove('is-active');
            });

            document.getElementById('submitEntry').addEventListener('click', function() {
                document.getElementById('entryForm').submit();
            });

            document.getElementById('cancelEntry').addEventListener('click', function() {
                document.getElementById('addEntryModal').classList.remove('is-active');
            });

            // Modal zum Update öffnen oder direkt Update Formular anzeigen
            const updateButtons = document.querySelectorAll('.update-button');
            updateButtons.forEach(button => {
                button.addEventListener('click', function() {
                    const entryId = this.getAttribute('data-id');
                    fetch(`/get-entry/${entryId}`)
                    .then(response => response.json())
                    .then(data => {
                        if (data.status === 'success') {
                            // Daten in das Formular einfüllen
                            document.getElementById('entry_date').value = new Date(data.entry.entry_date).toISOString().slice(0, 10); // Datum anpassen
                            document.getElementById('notes').value = data.entry.notes;
                            
                            // Falls es ein Bild gibt, behandeln
                            const existingImages = document.getElementById('existing-images');
                            existingImages.innerHTML = '';
                            if (data.entry.images && data.entry.images.length > 0) {
                                data.entry.images.forEach(image => {
                                    const imageElement = document.createElement('img');
                                    imageElement.src = `${window.location.origin}/static/${image}`;
                                    imageElement.alt = 'Existing Image';
                                    imageElement.style.width = '100px';
                                    imageElement.style.height = 'auto';
                                    imageElement.style.marginRight = '10px';
                                    imageElement.style.cursor = 'pointer';
                                    imageElement.dataset.imageUrl = `${window.location.origin}/static/${image}`;
                                    imageElement.addEventListener('click', function() {
                                        const imageInput = document.createElement('input');
                                        imageInput.type = 'file';
                                        imageInput.setAttribute('accept', 'image/*');
                                        imageInput.onchange = function() {
                                            const file = this.files[0];
                                            const reader = new FileReader();
                                            reader.onload = function(event) {
                                                imageElement.src = event.target.result;
                                            }
                                            reader.readAsDataURL(file);
                                        }
                                        imageElement.replaceWith(imageInput);
                                    });
                                    existingImages.appendChild(imageElement);
                                });
                            }
                            
                            // Setze die Formular-Action auf Update
                            document.getElementById('entryForm').action = `{{ url_for('update_entry', entry_id=entryId) }}`;
                            
                            // Öffne das Modal
                            document.getElementById('addEntryModal').classList.add('is-active');
                        } else {
                            alert('Fehler beim Laden der Eintragsdaten: ' + data.message);
                        }
                    })
                    .catch(error => {
                        console.error('Fehler beim Abrufen des Eintrags:', error);
                    });
                });
            });

            // Deaktivieren des Eintrags
            const deactivateButtons = document.querySelectorAll('.deactivate-button');
            deactivateButtons.forEach(button => {
                button.addEventListener('click', function() {
                    const entryId = this.getAttribute('data-id');
                    if (confirm('Möchten Sie diesen Eintrag wirklich deaktivieren?')) {
                        fetch(`/deactivate-entry/${entryId}`, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        })
                        .then(response => response.json())
                        .then(data => {
                            if (data.status === 'success') {
                                window.location.reload();  // Seite neu laden, um die Änderungen anzuzeigen
                            } else {
                                alert('Fehler: ' + data.message);
                            }
                        })
                        .catch(error => {
                            console.error('Fehler beim Deaktivieren des Eintrags:', error);
                        });
                    }
                });
            });
        });
    </script>
{% endblock %}
