{% extends 'base.html' %}

{% block content %}
    <h1>Plant Data</h1>

    <!-- Button to trigger the modal -->
    <button class="button is-primary" id="addPlantButton">Add Plant</button>

    <!-- Modal -->
    <div class="modal" id="addPlantModal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Add Plant</p>
                <button class="delete" aria-label="close" id="closeModal"></button>
            </header>
            <section class="modal-card-body">
                <!-- Form inputs for plant data -->
                <form id="plantForm">
                    <div class="field">
                        <label class="label">Name</label>
                        <div class="control">
                            <input class="input" type="text" id="name" name="name" placeholder="Enter plant name" required>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Description</label>
                        <div class="control">
                            <textarea class="textarea" id="description" name="description" placeholder="Enter plant description"></textarea>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Image URL</label>
                        <div class="control">
                            <input class="input" type="text" id="image_url" name="image_url" placeholder="Enter image URL">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Sunlight</label>
                        <div class="control">
                            <input class="input" type="text" id="sunlight" name="sunlight" placeholder="Enter sunlight requirements">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Water Needs</label>
                        <div class="control">
                            <input class="input" type="text" id="water_needs" name="water_needs" placeholder="Enter water needs">
                        </div>
                    </div>

                    <div class="field">
                        <label the="label">Temperature Range</label>
                        <div class="control">
                            <input class="input" type="text" id="temperature_range" name="temperature_range" placeholder="Enter temperature range">
                        </div>
                    </div>

                    <footer class="modal-card-foot">
                        <button type="submit" class="button is-primary" id="submitPlant">Submit</button>
                        <button type="button" class="button" id="cancelPlant">Cancel</button>
                    </footer>
                </form>
            </section>
        </div>
    </div>

    <table id="plantTable" class="display">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Image URL</th>
                <th>Sunlight</th>
                <th>Water Needs</th>
                <th>Temperature Range</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for plant in plants %}
            <tr>
                <td>{{ plant.name }}</td>
                <td>{{ plant.description }}</td>
                <td>{{ plant.image_url }}</td>
                <td>{{ plant.sunlight }}</td>
                <td>{{ plant.water_needs }}</td>
                <td>{{ plant.temperature_range }}</td>
                <td>
                    <button class="button is-warning update-button" data-id="{{ plant._id }}"><i class="fas fa-edit"></i></button>
                    <button class="button is-danger deactivate-button" data-id="{{ plant._id }}"><i class="fas fa-times"></i></button>
                    <form action="{{ url_for('care_journal', plant_id=plant._id) }}" method="get">
                        <button type="submit" class="button is-primary">View Care Journal</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        $(document).ready(function() {          
            $('#plantTable').DataTable({
                "pagingType": "full_numbers",
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": true,
                "order": [[0, 'asc']],
                "columnDefs": [
                    { "orderable": false, "targets": [2, 3, 4, 5, 6] }  // Mehrere Spalten von der Sortierung ausschließen
                ]
            });
            

            // Open the modal when the button is clicked
            document.getElementById('addPlantButton').addEventListener('click', function() {
                document.getElementById('addPlantModal').classList.add('is-active');
            });
        
            // Close the modal when the close button is clicked
            document.getElementById('closeModal').addEventListener('click', function() {
                document.getElementById('addPlantModal').classList.remove('is-active');
            });
        
            // Submit the form data when the submit button is clicked
            document.getElementById('submitPlant').addEventListener('click', function(event) {
                event.preventDefault();  // Verhindert das normale Absenden des Formulars
            
                var formData = new FormData();
                formData.append('name', document.getElementById('name').value);
                formData.append('description', document.getElementById('description').value);
                formData.append('image_url', document.getElementById('image_url').value);
                formData.append('sunlight', document.getElementById('sunlight').value);
                formData.append('water_needs', document.getElementById('water_needs').value);
                formData.append('temperature_range', document.getElementById('temperature_range').value);
                
                
                fetch('/add-plant', {
                    method: 'POST',
                    body: formData
                }).then(response => {
                    if (!response.ok) throw new Error('Network response was not ok');
                    return response.json();
                }).then(data => {
                    if (data.status === 'success') {
                        window.location.href = '/';  // Leitet um zur Hauptseite
                    } else {
                        console.error('Error:', data.message);
                        alert(data.message);  // Zeigt eine Fehlermeldung an
                    }
                }).catch(error => {
                    console.error('Error:', error);
                });
                
            });
            
        
            // Close the modal when the cancel button is clicked
            document.getElementById('cancelPlant').addEventListener('click', function() {
                document.getElementById('addPlantModal').classList.remove('is-active');
            });
        });

        document.addEventListener('DOMContentLoaded', function() {
            // Event listener für Update-Buttons
            const updateButtons = document.querySelectorAll('.update-button');
            updateButtons.forEach(button => {
                button.addEventListener('click', function() {
                    const plantId = this.getAttribute('data-id');
                    updatePlant(plantId);
                });
            });
        
            // Event listener für Deactivate-Buttons
            const deactivateButtons = document.querySelectorAll('.deactivate-button');
            deactivateButtons.forEach(button => {
                button.addEventListener('click', function() {
                    const plantId = this.getAttribute('data-id');
                    deactivatePlant(plantId);
                });
            });
        });
        
        function updatePlant(plantId) {
            // Hier könntest du ein Formular mit den Daten der Pflanze anzeigen
            // Für dieses Beispiel nehmen wir an, dass du eine einfache Alert-Nachricht ausgibst
            alert('Update-Funktion für Pflanze mit ID ' + plantId);
        
            // Hier würde normalerweise ein Formular mit AJAX versendet werden
            // Beispielcode für einen AJAX-Request:
            fetch(`/update-plant/${plantId}`, {
                method: 'POST',
                body: JSON.stringify({
                    name: 'Neuer Pflanzenname', // Daten aus einem Formular
                    description: 'Neue Beschreibung'
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(response => response.json())
              .then(data => {
                  console.log(data);
                  if (data.status === 'success') {
                      window.location.reload(); // Seite neu laden, um die Änderungen anzuzeigen
                  }
            }).catch(error => console.error('Fehler:', error));
        }
        
        function deactivatePlant(plantId) {
            if (confirm('Sind Sie sicher, dass Sie diese Pflanze deaktivieren möchten?')) {
                fetch(`/deactivate-plant/${plantId}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok: ' + response.statusText);
                    }
                    return response.json();  // Dies sollte nur ausgeführt werden, wenn die Antwort JSON ist
                })
                .then(data => {
                    console.log(data);
                    if (data.status === 'success') {
                        window.location.reload(); // Seite neu laden, um die Änderungen anzuzeigen
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Es gab einen Fehler beim Verarbeiten Ihrer Anfrage: ' + error.message);
                });
            }
        }
        
    </script>
    
    
      
{% endblock %}
